body {
	font-family: Segoe UI Light;
	letter-spacing: 0.02em;
	background-color: #181818;
	color: #F0F0F0;
	margin-left: 5.5em;
}

h1 {
	color: #11D8E8;
	font-size: 42pt;
}

h2 {
	font-size: 15pt;
	color: #11EEF4;
	margin-top: 4em;
	margin-bottom: 0em;
	letter-spacing: 0.08em;
}

td {
	padding-left: 0.3em;
	padding-right: 0.3em;
}

table {
	border-width: 0;
	table-layout: fixed;
	font-family: Segoe UI Light;
	letter-spacing: 0.02em;
	background-color: #181818;
	color: #f0f0f0;
}

tr:nth-child(even) {
	background: #272727;
}

tr:nth-child(odd) {
	background: #1E1E1E;
}

thead {
	font-family: Segoe UI Semibold;
	font-size: 85%;
	color: #BCBCBC;
}

span.date {
	display: inline-block;
	width: 5.5em;
}

span.time {
	text-align: right;
	width: 4.2em;
	display: inline-block;
}


td.number {
	font-family: consolas,"Liberation Mono",courier,monospace;
	text-align: right;
}